<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<ion-avatar class="image-center">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQhSzkJXTuBa5lE8xWedwvtVQi037rUdC_rHg&usqp=CAU" />
</ion-avatar>
  
<div class="ion-padding text-center" size="6" size-md="4" size-lg="3">
  <h1 >Hello, I am</h1>
  <h4>Muhammad Geza Mahardikaa</h4>
  <h4>00000026190 - DL</h4>


  <h6>
    This app 90% made by my self , 10% by watching youtube, stack overvlow, ionic documentation , and my freinds (faiq syahbani and I made)
  </h6>
</div>

  
</ion-content>
